<mat-spinner class="loading" *ngIf="loading" [mode]="'indeterminate'"></mat-spinner>
<div *ngIf="!loading" scrolling="yes">
    
    <h1> {{song.name}} </h1>
    <h3> {{song.singers}} </h3>
    <br>

    <div style="display: grid; grid-template-columns: 50% 50%;">
        <div class="wrapper">
            <div id="one">
                <img class="image" src="data:image/jpeg;base64,{{song.albumCover}}">
            </div>
        </div>
        <div>
            Authors:
            <span *ngFor="let a of song.authors"> {{ a }} </span>
            <br><br>
            Year: {{song.year}}
            <br><br>
            Genre: {{this.song.genre}}
            <br><br><br>
            <p *ngIf="isRated()"> Community rate: <b>{{this.song.rate}} </b> <span class="material-icons">star</span> </p> 
            <i *ngIf="!isRated()"> Song has no rates yet! </i>
            <br><br><br><br>
            <small>Added by: <i>{{song.user}}</i> </small>
        </div>
    </div>
    <br><br><br>
    <mat-divider></mat-divider>
    <br><br>
    <div *ngIf="song.audio != null">
        <h3> Listen: </h3>
        <audio controls style="width: 100%;" controls src="data:audio/mp3;base64,{{song.audio}}">
            Your browser does not support the audio tag.
        </audio>
    </div>
    <small><i *ngIf="song.audio == null">
            This song doesn't have audio added.
        </i>
    </small>


    <br><br><br>

    <mat-divider></mat-divider>
    <br><br>
    <div *ngIf="song.video != null">
        <h3> Watch music video: </h3>
        <video width="100%" controls src="data:video/mp4;base64,{{song.video}}">
        </video>
    </div>
    <small>
        <i *ngIf="song.video == null">
            This song doesn't have video added.
        </i>
    </small>

    <br><br><br>

    <div *ngIf="guestLogged()">
        Rate:
        <mat-slider style="width: 80%; " thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0"
            max="10" aria-label="units" 
            (input)="myRate = $event.value" 
            [value]="myRate"></mat-slider>
          {{myRate}}  
        <button mat-button class="accent-color" (click)="rate()" [disabled]="myRate==null"> Submit </button>
    </div>

</div>