<div scrolling="yes">


    <h1> {{song.name}} </h1>
    <h5>{{song.year}} </h5> <br>

    <div style="display: grid; grid-template-columns: 50% 50%;">
        <div class="wrapper">
            <div id="one">
                <img class="image" src="data:image/jpeg;base64,{{song.albumCover}}">
            </div>
        </div>
        <div>
            Singers:
            <span *ngFor="let s of song.singers"> {{ s }} </span>
            <br><br>

            Authors:
            <span *ngFor="let a of song.authors"> {{ a }} </span>
            <br><br>

            <small>Added by: <i>{{song.user}}</i> </small>
        </div>
    </div>
    <br><br><br>
    <mat-divider></mat-divider>
    <br><br>
    <div *ngIf="song.audio != null">
        <h3> Listen: </h3>
        <audio controls style="width: 100%; ">
            <source src="{{song.audio}}" type="audio/mp3">
            Your browser does not support the audio tag.
        </audio>
    </div>
    <i *ngIf="song.audio == null">
        This song doesn't have audio added.
    </i>


    <br><br><br>

    <mat-divider></mat-divider>
    <br><br>
    <div *ngIf="song.video != null">
        <h3> Watch music video: </h3>
        <video width="100%" controls>
            <source src="{{song.video}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <i *ngIf="song.video == null">
        This song doesn't have video added.
    </i>

    <br><br><br>

    Rate:

    <mat-slider style="width: 80%; " thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="10"
        aria-label="units"></mat-slider>

    <button *ngIf="guestLogged()" mat-button class="accent-color" (click)="rate()"> Submit </button>
    

</div>