

<div class="container">
    
    <mat-card class="songs-container">
        <mat-card-title>Top List</mat-card-title>
        <h2>Ten top rated songs in the last month, enjoy!</h2>
    <div class="card-content" *ngFor="let song of songs; index as i" style="display: grid; grid-template-columns: 40% 30%; margin-left: 1px ; margin-top: 20px auto;  margin-bottom: 20px auto;">
        <h1 style="text-align: end;"><b>{{i+1}}.</b></h1>
        <app-song [song]="song"></app-song><br>
    </div>
    </mat-card>
    </div>
