<mat-card class="container">
  <mat-card-title> Add song: </mat-card-title><br>
  <mat-card-content>
    <br><br>
    <form class="example-form">
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Enter song name</mat-label>
        <input matInput placeholder="Pam" [(ngModel)]="model.name" name="name" required>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Enter singer</mat-label>
        <input matInput placeholder="Andrew Smith" [(ngModel)]="model.singers" name="surname" required>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Enter year</mat-label>
        <input matInput placeholder="1973" [(ngModel)]="model.year" name="surname" required>
      </mat-form-field>

      

      

      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Enter authors</mat-label>
        <input matInput placeholder="Andrew Smith" [(ngModel)]="model.authors" name="surname" required>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="standard">
        <mat-label>Select genre: </mat-label>
        <mat-select [(ngModel)]="model.genre" name="genre">
          <mat-option mat-menu-item *ngFor="let genre of genres; index as i" routerLink="/music/{{i}}">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- <mat-list role="list"> -->
      <div class="file-input">
        <label class="custom-file-upload"> Select cover photo: </label>&nbsp;
        <input type="file" accept="image/*" (change)="imageFileChange($event)" />
      </div>

      <br>

      <div class="file-input">
        <label class="custom-file-upload"> Select audio: </label>&nbsp;
        <input type="file" accept="audio/*" (change)="audioFileChange($event)">
      </div>

      <br>

      <div class="file-input">
        <label class="custom-file-upload"> Select video: </label>
        <input type="file" accept="video/*" (change)="videoFileChange($event)" />
      </div>

    <!-- </mat-list> -->


      <br><br>
      
      <button mat-flat-button color="primary" class="confirm" (click)="addSong()">
        Confirm
      </button>
    </form>
  </mat-card-content>
</mat-card>
