<mat-card class="card" style="display: grid; grid-template-columns: 70% 30%; width: 50%;">
    <div>
        <mat-card-title>{{festival.name}}</mat-card-title>
        <br>
        Start:  &nbsp;{{this.festival.startDate | date:'medium'}} <br>
        End:    &nbsp;&nbsp;&nbsp;{{this.festival.endDate | date:'medium'}}
        <mat-card-actions>
            <button mat-button  (click)="openDialog()">Open</button>
        </mat-card-actions>
    </div>
    <div class="wrapper">
        <div id="one">
            <img class="image" src="data:image/jpeg;base64,{{festival.coverPhoto}}">
        </div>
    </div>
</mat-card>
