<div id="meni" color="primary">

  <mat-toolbar class="default-primary-color text-primary-color">
    <div id="left">
      <span>Max Music</span>

      <img src="/assets/cd-xxl.png" id="img">
      &nbsp;&nbsp;&nbsp;&nbsp;

      <button mat-button routerLink="/home">Home</button>

      <button mat-button [matMenuTriggerFor]="musicMenu">Music <mat-icon>expand_more</mat-icon></button>
      <mat-menu #musicMenu="matMenu" yPosition="below" xPosition="after">
        <button mat-menu-item *ngFor="let genre of genres; index as i" [routerLink]="['/music', genre]">
          {{genre}}
        </button>

        <button mat-menu-item routerLink="/music">All</button>



      </mat-menu>



      <button mat-button routerLink="/forum">Forum</button>

      <!-- <button mat-button routerLink="/add-song">Add song</button>
       -->


      <button mat-button routerLink="/top-list">Top list</button>



    </div>
    <div class="right" *ngIf="!guestLogged() && !adminLogged()">
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/registration">Register</button>
    </div>

    <div class="right" mat-button *ngIf="guestLogged() || adminLogged()">
      <button mat-button (click)="logout()">Logout</button>
    </div>

    <h3 *ngIf="guestLogged() || adminLogged()"> </h3>

  </mat-toolbar>


</div>