body{
  background-color: aqua;
}

.container {
    padding: 8%;
    display: flex;
    justify-content: center;
  }
  
  .big-container {
    padding: 10% 32%;
    background-color: transparent;
  }
  
  .confirm {
    align-self: flex-end;
  }
  
  body {
    background-color: red;
  }
  