<mat-tab-group headerPosition="above">


  <mat-tab label="Start a topic">
    <div class="mat-card-content">
      <mat-card class="topic-card">

        <mat-card-title>
          Start new topic
        </mat-card-title>

        <mat-card-content class="content">
          <mat-form-field appearance="fill">
            <mat-label>Enter topic name</mat-label>
            <input matInput [(ngModel)]="topic">
          </mat-form-field><br>

          <button mat-raised-button type="submit" color="primary"> Add </button>
          {{topic}}
        </mat-card-content>

      </mat-card>
    </div>


  </mat-tab>

  <mat-tab label="Read interesting topics">

    <mat-card class="topic-card">

      <mat-card-title>
        Choose topic
      </mat-card-title>

      <mat-card-content class="content">
        <form>

          <mat-form-field appearance="fill">
            <mat-label> Topic: </mat-label>
            <mat-select [(ngModel)]="topic" name="topic">
              <mat-option *ngFor="let t of topics" [value]="t"> {{t}} </mat-option>
            </mat-select>
          </mat-form-field><br>

          <button mat-raised-button type="submit" color="primary"> Submit </button>

        </form>
      </mat-card-content>

    </mat-card>
 
  </mat-tab>

</mat-tab-group>