.topic-card {
  margin: auto;
  width: 50%;
  border: 1px solid rgb(36, 71, 130);
  padding: 10px;
  }

  .topic-form {
    margin: auto;
  width: 50%;
  border: 1px solid  rgb(36, 71, 130);
  padding: 10px;
  }
  
  .topic-full-width {
    width: 100%;
  }