<div class="container">
    <h3>Filter: </h3>
    <form (ngSubmit)=filter()>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Search for singer:</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto"
                [(ngModel)]="singer" name="singer">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let singer of singers" [value]="singer">
                    {{singer}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        &nbsp;&nbsp;&nbsp;&nbsp;

        <mat-form-field appearance="fill">
            <mat-label>Enter min year</mat-label>
            <input matInput placeholder="Start year" [(ngModel)]="yearS" name="yearS">
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Enter max year</mat-label>
            <input matInput placeholder="Ending year" [(ngModel)]="yearE" name="yearE">
        </mat-form-field>

        &nbsp;&nbsp;&nbsp;&nbsp;

        <button mat-flat-button class="confirm accent-color text-primary-color">
            Filter
        </button>

        <mat-divider></mat-divider>
    </form>
</div>


<mat-card class="songs-container" style="display: grid; grid-template-columns: 25% 25% 25% 25%;">
    <div class="card-content" *ngFor="let song of songs; index as i" style="margin: 20px auto;">
        <app-song [song]="song"></app-song>
    </div>
</mat-card>